@import "vars"

body 
    font-family: sans-serif
    
    

.container
    max-width: 1170px
    width: 96%
    margin: auto
    @media (max-width: 640px)
        width: 90%

.header
    &-block
        display: flex
        justify-content: space-between
        align-items: center 
        margin-top: 25px
        margin-bottom: 25px
    &-info
        display: flex
        text-align: right
    &__contacts
        display: flex
        flex-direction: column 
        margin-right: 29px 
        justify-content: center 
        @media( max-width: 640px  )
            display: none
            
    &__phone
        font-size: 20px
        color: $accent
        text-decoration: none 
        text-align: right
    &__address
        font-size: 13px
        color: $accent
        margin-bottom: 5px
        display: block

.button
    &-header__button 
        border-radius: 10px
        background-color: $buttons
        font-size: 13px
        color: $accent     
        border: none
        padding: 20px 49px      

.main
    background-color: $grey
    &-block 
        display: flex 
        background-color: $grey
        padding: 40px 0 15px 0  
        @media (max-width: 1200px)
            flex-direction: column 
    &-image 
        margin-right: -55px 
        @media (max-width: 1200px) 
            width: 100% 
    &-text 
        flex-basis: 50%
        @media (max-width: 1200px)
            margin-bottom: 30px
        @media (max-width: 640px)
            margin-bottom: 15px    
        &__title
            font-size: 41px
            line-height: 55px
            padding-right: 200px
            color:$accent
            margin-bottom: 20px
            margin-top: 45px
            @media (max-width: 1200px)
                padding-right: 10px
                @media (max-width: 640px)
                    font-size: 30px
                    line-height: 1.4
                    margin-bottom: 0
        &__subtitle
            font-size: 20px
            line-height: 65px        
            color:$accent     
            margin-right: 180px
            margin-bottom: 65px
            @media (max-width: 640px)
                font-size: 16px
                margin: 0 0 0 0
               
    &-list  
        padding: 0
        margin: 40px 0 0 0
        @media (max-width: 640px)
            margin: 20px 0 0 0 

        &-item
            display: flex
            align-items: center
            margin-bottom: 20px 
            @media (max-width: 640px)
                margin-bottom: 15px
        &__image 
            margin-right: 40px 
            width: 40px
            height: 40px
            border-radius: 20px
            border: 2px solid #ffd200
            display: flex
            justify-content: center
            align-items: center   
        &__text
            font-size: 14px
            line-height: 24px          
            color: $accent
            max-width: 300px
            @media (max-width: 640px)
                font-size: 12px
                max-width: 250px